<div class="container-fluid" id="part4">
    <div class="row">
        <h2 class="mb-3 fw-bold">Programs</h2>
        <p>The Fellowship is designed to help you level up your tech skills quickly. </p>
        <p>In this section you'll learn about some of the key ideas behind the fellowship.</p>
    </div>
    <div class="row pt-3 border border-dark my-2">
        <h3 class="mb-3 fw-bold">Citizenship / Visa Status</h3>
        <div class="row">
            <div class="col">
                <label for="citizenship_country" class="form-label">Country</label>
                <input type="text" class="form-control" name="citizenship_country">
            </div>
        </div>   
        <div class="row py-2">
            <div class="col">
                <label for="residence_country" class="form-label">In which country will you primarily reside in during the program, if accepted?
                </label>
                <input type="text" class="form-control" name="residence_country">
            </div>
        </div>    
    </div>
    <div class="row pt-3 border border-dark my-2">
        <h3 class="mb-3 fw-bold">Program Info</h3>
        <p>
            <strong>Fellowship Catalog</strong>
            <ul class="ms-3">
                <li>
                    <strong>Prep Program:</strong><br/>
                    Get a taste for the fellowship before committing to the full 12-weeks. You'll build out your portfolio & experiment with new technologies by collaborating in a short hackathon sprint.
                </li>
            </ul>
        </p>   
    </div>

    <div class="row pt-3 border border-dark my-2">
        <h3 class="mb-3 fw-bold">Scheduling Preferences</h3>
        <p>
            <strong>Time Commitment</strong><br/>
            <input class="form-check-input part4" type="checkbox">I am able to commit at least 30 hours per week to the program.
        </p> 
        <p>
            <strong>During which time blocks are you available to meet with staff or other Fellows, should you be admitted?</strong><br/>
            <input class="form-check-input part4" type="checkbox" name="available_morning"> 8 AM to 12 AM<br/>
            <input class="form-check-input part4" type="checkbox" name="available_afternoon"> 1 PM to 5 PM<br/>
            <input class="form-check-input part4" type="checkbox" name="available_evening"> 6 PM to 10 PM<br/>
        </p>   
    </div>


</div>
