<div class="container-fluid" id="part7">
    <div class="row">
        <h2 class="mb-3 fw-bold">Code Sample</h2>
    </div>
    <div class="row pt-3 border border-dark my-2">
        <h3 class="mb-3 fw-bold">Overview</h3>
        <p>
            At Minor League Hacking we don't believe in whiteboarding interviews. Instead, we prefer to talk about the code you've written. As part of your application you should submit a code sample that you feel demonstrates your abilities. We'll review this sample ourselves while looking over your application. If you're invited to a tech interview, you'll talk about this specific code with your interviewer.
        </p>
        <p>
            <u><strong>Code Sample Requirements</strong></u>
            <ul>
                <li><strong>Representative: </strong>The sample should be representative of your abilities. If you're submitting a group project, make sure you contributed a substantial amount of code. Projects that are based mostly on a tutorial aren't representative of your own abilities.</li>
            </ul>
            <ul>
                <li><strong>Existing sample: </strong>This is code that you wrote for a purpose other than this application.
                </li>
            </ul>
            <ul>
                <li><strong>Public on GitHub: </strong>Your sample should be viewable on GitHub publicly. If you can't make the repository public, convert your code to a secret GitHub Gist instead.
                </li>
            </ul>
            <ul>
                <li><strong>Multiple files: </strong>Your sample should be viewable on GitHub publicly. If you can't make the repository public, convert your code to a secret GitHub Gist instead.
                </li>
            </ul>
        </p>
    </div>
</div>
