<div class="container-fluid" id="part8">
    <div class="row pt-3 border border-dark my-2">
        <h3 class="mb-3 fw-bold">Essay Questions</h3>
        <p>
            <em>Essays are an important part of how we evaluate applicants for the Fellowship. Make sure you include enough information to help us understand who you are, why you want to be an Fellow, and what you would bring to the program.</em>
        </p>

        <p>
            <strong><em>Your essays are your first impression to our admissions team. The best essays show us how passionate you are about this opportunity and give us lots of detail about you and your interests. Take your time here and show the best possible version of yourself! There is no word count minimum, but we recommend at least a paragraph or two for each essay.</em></strong>
        </p>

        <div class="row pb-3">
            <p>
                Why do you want to become an MLH Fellow?
                <textarea class="form-control" name="why-fellow"></textarea>
            </p>
        </div>
        <div class="row pb-3">
            <p>
                The MLH Fellowship is a diverse community that welcomes Fellows from a wide range of experiences and backgrounds. What perspective or experience will you bring to the fellowship to strengthen our community?
                <textarea class="form-control" name="why-fellow"></textarea>
            </p>
        </div>
        <div class="row pb-3">
            <p>
                Anything else we should know about you?
                <textarea class="form-control" name="why-fellow"></textarea>
            </p>
        </div>
    </div>
</div>
