<div class="container-fluid" id="part9">
    <div class="row">
        <h2 class="mb-3 fw-bold">Optional Questions</h2>
    </div>
    <div class="row pt-3 border border-dark my-2">
        <h3 class="mb-3 fw-bold">Demographics</h3>
        <p>
            We invite applicants to self-identify as to their pronouns, gender, race/ethnicity, and veteran status. Completion of this form is entirely voluntary and declining to provide this information will not subject you to adverse treatment. Any information that you do provide will be maintained confidentially and will not be shared.
        </p>
        <p>
            All individuals seeking to join the Fellowship are considered without regard to race, color, religion, national origin, age, sex, marital status, ancestry, physical or mental disability, veteran status, gender identity, sexual orientation, or any other legally protected characteristic. You are being given the opportunity to provide the following information in order to help us measure our own diversity and inclusion efforts and to comply with applicable federal and state Equal Employment Opportunity record-keeping and reporting obligations.
        </p>
        <div class="row pb-3">
            <div class="col">
                <strong>What are your pronouns?</strong>
                <select class="form-select" name="pronouns">
                    <option selected>Please select...</option>
                    <option value="he">He/him</option>
                    <option value="she">She/her</option>
                    <option value="they">They/them</option>
                    <option value="other">Other</option>
                    <option value="nop">Prefer not to say</option>
                </select>
            </div>
            <div class="col">
                <strong>Gender</strong>
                <select class="form-select" name="gender">
                    <option selected>Please select...</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="non-binary">Non-binary</option>
                    <option value="transgender">Transgender</option>
                    <option value="intersex">Intersex</option>
                    <option value="nop">Prefer not to say</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row pt-3 border border-dark my-2">
        <h3 class="mb-3 fw-bold">Misc</h3>
        <p>
            <strong>How did youhear about the Fellowship</strong>
            <select class="form-select me-3" name="sike">
                <option selected>Please select...</option>
                <option value="sike">Imagination</option>
            </select>
        </p>   
    </div>
</div>
